.game {
    position: fixed;
    max-width: 400px;
    right: 0;
    text-align: center;
    margin-top: 225px;
    padding: 15px 10px 15px 20px;
    background-color: #4577ED;
    transition: .3s;
}

.game--closed {
    right: -170px;
}

.game__header {
    font-size: 20px;
    font-weight: normal;
}

.game__menu, .game__menu--close {
    display: block;
    position: absolute;
    width: 22px;
    top: 5px;
    padding: 3px;
    font-size: 18px;
    background-color: goldenrod;
    border: none;
    cursor: pointer;
}

.game__menu {
    left: 3px;
    text-transform: uppercase;
    line-height: 1.1;
    word-wrap: break-word;
}

.game__menu--close {
    right: 3px;
}

.game__header {
    text-align: center;
    width: 85%;
    color: blueviolet;
}

.main {
    max-width: 1000px;
    margin: 0 auto;
}

.profile__image {
    width: 400;
    height: 400;
    background-color: dimgray;
}